#all{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#top{
    width: 100%;
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
#bottom{
    width: 100%;
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.update{
    width: 25px;
    height: 25px;
}
.delete{
    width: 25px;
    height: 25px;
}
#title{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#firstName{
    width: 80%;
    text-align: center;
}