.imgs{
    width: 80px;
    height: 30px;
}
.imgs img{
    padding-left: 10px;
    height: 23px;
    width: 23px;
}
.shop_img{
    height: 60px;
    width: 80px;
}
.shop_imgs{
    position: relative;
}
.chang_img{
    display: none;
    position: absolute;
    top: 18px;
    left: 100px;
}
.chang_shop_img{
    height: 150px;
    width: 150px;
}
.shop_img:hover{
    cursor: pointer;
}
.chang_shop_img:hover{
    cursor: pointer;
}